#characterImg {
  margin-top: -18px;
  position: absolute;
  width: 30%;
  border: 4px white solid;
  border-radius: 0px 0px 40px 40px;
  transition: ease-in-out 0.2s;
}

#charImage {
  display: inline-block;
}

#allchars {
  display: inline-block;
  width: 60%;
  text-align: right;
  margin-left: 50px;
}

#firsthalf {
  display: inline-block;
}

#secondhalf {
  display: inline-block;
}

.charhead {
  width: 50px;
  opacity: 0.5;
  transition: ease-in-out 0.2s;
}

.charhead:hover {
  opacity: 1;
}

.selectedhead {
  width: 70px;
  opacity: 1;
}

#left {
  float: left;
  background-color: black;
  background-image: url(../../images/hud/left.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;
  height: 85vh;
  width: 4%;
  transition: ease-in-out 0.2s;
}

#left:hover {
  filter: brightness(10);
}

#right {
  float: right;
  background-color: black;
  background-image: url(../../images/hud/right.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;
  height: 85vh;
  width: 4%;
  transition: ease-in-out 0.2s;
}

#right:hover {
  filter: brightness(10);
}
